// Colors
$primary-color: #FFE600;
$secondary-color: #3483FA;
$text-primary-color: #333333;
$text-secondary-color: #666666;
$text-tertiary-color: #999999;
$text-danger: #ff4343;

// Radius
$border-radius: 4px;

// Paddings
$padding: 8px;
$padding-xs: $padding + 4; // 12px
$padding-sm: $padding * 2; // 16px
$padding-md: $padding * 4; // 32px

// Margins
$margin: 8px;
$margin-xs: $margin + 4; // 12px
$margin-sm: $margin * 2; // 16px
$margin-md: $margin * 4; // 32px

$gap: 8px; // 8px
$gap-sm: $gap * 2; // 16px

// Font Sizes
$font-size: 16px;

$font-size-xs: $font-size - 4; // 12px
$font-size-sm: $font-size - 2; // 14px
$font-size-md: $font-size; // 16px
$font-size-lg: $font-size + 2; // 18px
$font-size-xl: $font-size + 8; // 24px
$font-size-2xl: $font-size + 12; // 28px
$font-size-3xl: $font-size + 30; // 46px