@import '../theme.scss';

.results-container {
  grid-column: 2 / 12;
}

.results-container ol {
  list-style: none;
  padding-bottom: $padding-md;
}

.results-container ol li.product-container {
  padding: $padding-sm;
  background-color: #ffffff;
}

.results-container ol li.product-container:first-child {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.results-container ol li.product-container:last-child {
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.results-container ol li.product-container:last-child .product-details-wrapper {
  border-bottom: none;
}

.results-container .no-results {
  text-align: center;
}

